.App {
	text-align: center;
	overflow-x: hidden;
	font-size: 1em;
}

.App-header {
	height: 4rem;
	padding: 10px;
	color: #f6f6f6;
}

.App-title {
	font-size: 1.5em;
	color: black;
}

@media only screen and (max-device-width: 568px){
	.App-title {
		font-size: 0.9em;
	}
}

#form {
	width: 25rem;
	height: 100%;
	margin: 5px;
}

@media only screen and (max-device-width: 568px){
	#venuesList li a {
		width: 5rem;
	}
}

#searchField {
	font-size: 14px;
	padding: 10px 12px 12px 20px;
	text-align: center;
}

@media only screen and (max-device-width: 568px){
	#searchField {
		padding:2 px 3px 3px 7px;
		font-size: 10px;
	}
}

#venuesList {
	list-style-type: none;
	padding: 0;
	margin: 2rem;
	text-align: center;
	background-color: 373a47;
}

#venuesList li a {
	margin-top: -1px;
	background-color: #373a47;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: white;
	display: block;
}

@media only screen and (max-device-width: 568px){
	#venuesList li a {
		font-size: 55%;
		padding: 5px;
	}
}

#venuesList li a:hover:not(.header) {
	background-color: #da5040;
}

/* Position and sizing of burger button */

.bm-burger-button {
	position: fixed;
	width: 36px;
	height: 30px;
	left: 36px;
	top: 36px;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
	background: #373a47;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
	height: 24px;
	width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
	background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
	background: #373a47;
	padding: 2.5em 1.5em 0;
	font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
	fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
	color: #b8b7ad;
	padding: 0.8em;
}

/* Individual item */

.bm-item {
	display: inline-block;
}

/* Styling of overlay */

.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
}

.img {
	vertical-align: middle;
	width: 24px;
	height: 24px;
}

footer {
	font-size: small;
}